// 建物・部屋ページ共通
@use "../abstracts/mixins" as *;

// * スライドは _buildroom-mv.scss に記載

// 建物・部屋 メインのサマリー部分
.c-buildroom {
  background-color: var(--bg-gray-xxlight);
  padding-top: var(--space-24);
  padding-bottom: var(--space-24);

  @include mq {
    padding-top: var(--space-40);
    padding-bottom: var(--space-40);
  }

  &__summary {
    &-header {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;

      @include mq {
        justify-content: flex-start;
        flex-wrap: nowrap;
      }
    }

    // フラグ
    &-flag {
      display: flex;
      flex-wrap: wrap;
      gap: var(--space-2);
      line-height: var(--line-height-100);

      // フラグをブロックレベルに変換し余白が出ないように調整
      > li > * {
        display: block;
      }

      @include mq {
        flex-direction: column;
        margin-right: var(--space-24);

        >li> .c-flag {
          min-width: calc(4em + var(--space-8)*2);
        }
      }
    }

    &-links {
      display: flex;
      flex: 0 1 auto;
      justify-content: flex-end;

      .__considering {
        flex: 1;
      }

      @include mq {
        flex: initial;
      }
    }

    &-h {
      font-size: var(--fz-18);
      flex: 1 0 100%;
      order: 1;
      line-height: var(--line-height-md);
      margin-top: var(--space-8);

      @include mq {
        margin-top: 0;
        font-size: var(--fz-24);
        flex: 1;
        order: initial;
      }
    }

    // キャッチコピー
    &-catch {
      margin-top: var(--space-16);
      font-size: var(--fz-14);
      background-color: var(--bg-white);
      padding: var(--space-8);
      border-bottom: 1px solid var(--bdr-light);
      line-height: var(--line-height-md);

      @include mq {
        padding: var(--space-16);
        margin-top: var(--space-24);
      }
    }

    // ボディ部
    &-body {
      margin-top: var(--space-16);
      display: flex;
      flex-direction: column;

      @include mq {
        margin-top: var(--space-24);
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        column-gap: var(--space-56);
      }
    }

    // ビジュアル部分
    &-visual {
      width: 100%;
      margin-bottom: var(--space-24);

      @include mq {
        width: 780px;
        margin-bottom: 0;
      }
    }

    &-pics {
    }

    &-mv {
      background-color: var(--bg-white);
    }
    &-mv-tabs {
      margin-top: var(--space-8);
    }

    &-original-site {
      margin-bottom: var(--space-8);
    }

    // &-vacant-link {
    //   margin-top: var(--space-8);
    // }

    // 概要
    &-overview {
      padding: var(--space-16);
      border: 1px solid var(--bdr-light);
      background-color: var(--bg-white);

      @include mq {
        flex: 1;
        padding: var(--space-24);
      }

      &-list {
        font-size: var(--fz-14);
        line-height: var(--line-height-md);

        > div {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
        }

        dt {
          font-weight: var(--fw-bold);
          font-size: var(--fz-12);
          color: var(--txt-dark);
        }

        > div:not(:first-child) dt {
          margin-top: var(--space-16);
        }

        dd {
          flex: 1 0 100%;
          margin-top: 2px;
          font-size: var(--fz-16);

          &.__map {
            margin-top: 0;
            flex: initial;
            margin-left: auto;
          }

          // 賃料
          &.__rent {
            font-family: var(--ff-num);

            em {
              font-style: normal;
              font-size: var(--fz-18);
              font-weight: var(--fw-semibold);
              margin-right: 0.1em;
            }
          }
        }
      }

      @include mq {
        &-list {
          > div:not(:first-child) dt {
            margin-top: var(--space-24);
          }

          dd {
            &.__map {
              margin-left: var(--space-16);
            }
          }
        }
      }
    }
  } //&__summary
}


// セクション
.c-buildroom-sect {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__h {
    font-size: var(--fz-18);
    line-height: var(--line-height-md);
    letter-spacing: var(--letter-space-10);
    font-weight: var(--fw-bold);
    flex: 1;

    @include mq {
      font-size: var(--fz-24);
    }
  }

  &__body {
    margin-top: var(--space-16);

    // 関連物件
    &.--related {
      margin-left: calc(var(--space-16) * -1);
      margin-right: calc(var(--space-16) * -1);
      padding: var(--space-40) 0;
      background-color: var(--bg-gray-xxlight);
    }

    @include mq {
      margin-top: var(--space-24);

      &.--related {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  // CMS
  &.--cms-detail {
    border: 5px solid var(--bdr-xlight);
    padding: var(--space-8);

    @include mq {
      border: 10px solid var(--bdr-xlight);
      padding: var(--space-24);
    }

    h1 {
      font-size: var(--fz-24);
    }
    h2 {
      font-size: var(--fz-20);
    }
    h3 {
      font-size: var(--fz-18);
    }
    h4 {
      font-size: var(--fz-16);
    }
    img {
      max-width: 100%;
    }
  }

  // バナー
  &.--banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--space-16);
  }

  // 備考
  &.--remark {
    padding: var(--space-16);
    background-color: var(--bg-gray-xxlight);
  }
  &.--remark &__h {
    font-size: var(--fz-16);
  }
  &.--remark &__body {
    margin-top: var(--space-8);
  }

  // めやす賃料
  &.--guideline {
    background: var(--bg-gray-xxlight);
    padding: var(--space-16);
    font-size: var(--fz-14);
  }
  &.--guideline &__body {
    margin-top: 0;
    display: flex;
    flex-direction: column;

    &::before {
      content: "";
      display: block;
      margin-bottom: var(--space-8);
      background: url(../img/common/meyasu_h.gif) left top no-repeat;
      background-size: contain;
      width: 120px;
      height: auto;
      aspect-ratio: 59 / 20;
    }

    @include mq {
      flex-direction: row;
      align-items: center;

      &::before {
        margin-right: var(--space-24);
        margin-bottom: 0;
      }
    }
  }
}

// 建物・お部屋詳細
.c-buildroom-detail {
  font-size: var(--fz-14);
  line-height: var(--line-height-md);
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid var(--bdr-light);

  &__col {
    flex: 1 0 100%;
    display: flex;

    &.--w-pc-50 {
      @include mq {
        flex: 1 0 50%;
      }
    }

    &.--column {
      flex-direction: column;
    }
  }

  &__list {
    display: flex;
    flex: 1;

    dt,
    dd {
      padding: var(--space-10);
      border-bottom: 1px solid var(--bdr-light);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    dt {
      color: var(--txt-dark);
      font-weight: var(--fw-normal);
      font-size: var(--fz-12);
      background-color: var(--bg-gray-xlight);
      flex: 0 0 80px;
      text-align: center;

      @include mq {
        flex: 0 0 100px;
        font-size: var(--fz-14);
      }
    }

    dd {
      background: var(--bg-white);
      flex-direction: column;
      flex: 1;
      align-items: flex-start;

      // .__data {}
    }
  }
}
