// 建物・部屋 メインビジュアルスライダー
@use "../abstracts/mixins" as *;

//スライド
.c-buildroom-slide {
  margin-bottom: var(--space-24);

  &--nophoto {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // メインスライド関連
  &__main {
    position: relative;
    margin-bottom: var(--space-16);

    .swiper {
      aspect-ratio: 4 / 3;

      @include mq {
        aspect-ratio: 16 / 10;
      }
    }

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        object-position: center center;
      }
    }
  }

  // ボタン
  &__btn {
    --swiper-navigation-sides-offset: 0;
    --btn-size: var(--space-32);
    width: var(--btn-size);
    height: var(--btn-size);
    background-color: rgba(0 0 0 / 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background var(--animation-normal);

    &:hover {
      background-color: rgba(0 0 0 / 0.6);
    }

    &::after {
      content: "";
      --icon-size: var(--space-24);
      width: var(--icon-size);
      height: var(--icon-size);
      font-family: initial;
      background-color: var(--bg-white);
      mask-repeat: no-repeat;
      mask-position: center center;
      mask-size: contain;
    }

    &.--prev {
      &::after {
        mask-image: var(--icon-arrow-l);
      }
    }

    &.--next {
      &::after {
        mask-image: var(--icon-arrow-r);
      }
    }

    &.swiper-button-disabled {
      opacity: 0;
    }
  }

  &.--is-slide-disabled &__btn {
    display: none;
  }

  // ページネーション（フラクション型）
  &__pagination {
    width: fit-content;
    // right: var(--space-8);
    bottom: var(--space-8);
    left: var(--space-8);
    font-size: var(--fz-14);
    font-family: var(--ff-num);
    padding: var(--space-8);
    line-height: var(--line-height-100);
    color: var(--txt-white);
    background-color: rgba(0 0 0 / 0.2);
    border-radius: var(--bdr-radius-md);
  }

  &.--is-slide-disabled &__pagination {
    display: none;
  }

  //拡大ボタン
  &__btn-open {
    position: absolute;
    right: 0;
    bottom: 0;
    width: var(--space-40);
    height: var(--space-40);
    background: var(--bg-black-70);
    z-index: var(--z-index-lv2);
    display: flex;
    align-items: center;
    justify-content: center;

    &.--is-hidden {
      display: none;
    }

    // パノラマ用(強制的に非表示)
    &.--panorama {
      display: none !important;
    }

    &::after {
      content: '';
      background: var(--bg-white);
      width: var(--space-20);
      height: var(--space-20);
      @include mask-icon(--icon-zoomin);
    }

    @include mq {
      width: var(--space-32);
      height: var(--space-32);
      cursor: pointer;

      &:hover {
        opacity: .8;
      }
    }
  }

  // ポップアップ再生ボタン
  &__btn-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: var(--z-index-lv2);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 60px;
    background: var(--bg-black-70);
    border-radius: var(--bdr-radius-md);
    cursor: pointer;
    transition: var(--animation-normal);

    &:hover {
      background: var(--bg-black-90);
      scale: 1.05;
    }

    &::after {
      content: '';
      background: var(--bg-white);
      width: var(--space-20);
      height: var(--space-20);
      @include mask-icon(--icon-play);
    }
  }

  // タブ
  &__tabs {
    display: flex;
    gap: var(--space-4);
    margin-bottom: var(--space-8);

    button {
      font-size: var(--fz-12);
      border-radius: var(--bdr-radius-sm);
      border: 1px solid var(--bdr-light);
      background-color: var(--bg-white);
      padding: var(--space-4) var(--space-8);
      color: var(--txt-normal);

      &:hover {
        border-color: var(--bdr-black);
      }


      &.--is-active {
        color: var(--txt-white);
        border-color: var(--bdr-black);
        background-color: var(--bg-black);
      }
    }

    @include mq {
      button {
        font-size: var(--fz-14);
        cursor: pointer;
      }
    }
  }

  // サムネイル
  &__thumbs {

    &.--is-hidden {
      display: none;
    }

    .swiper-slide {
      aspect-ratio: 1;
      background-color: var(--bg-white);
      position: relative;
      // padding: var(--space-4);

      img {
        aspect-ratio: 1;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center center;
      }
    }

    // current slide
    .swiper-slide-thumb-active {
      &::after {
        content: "";
        position: absolute;
        inset: 0;
        pointer-events: none;
        border: 4px solid var(--bdr-primary);
        opacity: 0.6;
      }
    }

    // パノラマのポップアップボタンを非表示(メインスライダーとスライドパネルのHTMLが共通のためここでは非表示する必要がある)
    .c-buildroom-slide__btn-popup {
      display: none;
    }
  }

  //ローダー
  .c-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: var(--z-index-lv1);
  }
}



// =======================================================
// OLD
.c-buildroom-mv {
  &__slide {
    aspect-ratio: 4/3;

    @include mq {
      aspect-ratio: 16/9;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  // ボタン
  &__btn {
    --swiper-navigation-sides-offset: 0;
    --btn-size: var(--space-32);
    width: var(--btn-size);
    height: var(--btn-size);
    background-color: rgba(0 0 0 / 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background var(--animation-normal);

    &:hover {
      background-color: rgba(0 0 0 / 0.6);
    }

    &::after {
      content: "";
      --icon-size: var(--space-24);
      width: var(--icon-size);
      height: var(--icon-size);
      font-family: initial;
      background-color: var(--bg-white);
      mask-repeat: no-repeat;
      mask-position: center center;
      mask-size: contain;
    }

    &.--prev {
      &::after {
        mask-image: var(--icon-arrow-l);
      }
    }

    &.--next {
      &::after {
        mask-image: var(--icon-arrow-r);
      }
    }
  }

  // ページネーション（フラクション型）
  &__pagination {}
}

.c-buildroom-mv-thumbs {
  padding: var(--space-8) 0;
  background-color: var(--bg-white);

  &__slide {
    aspect-ratio: 1;
    background-color: var(--bg-white);
    position: relative;
    padding: var(--space-4);

    &.swiper-slide-thumb-active {
      &::after {
        content: "";
        position: absolute;
        inset: 0;
        pointer-events: none;
        border: 4px solid var(--bdr-primary);
        opacity: 0.6;
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

// タブ切り替えボタン
.c-buildroom-mv-tabs {
  display: flex;
  column-gap: var(--space-8);

  .__tab {
    font-size: var(--fz-12);
    padding: var(--space-8);
    background-color: var(--bg-white);
    position: relative;
    border-radius: 2px 2px 0 0;
    line-height: var(--line-height-sm);
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: "";
      opacity: 0;
      transition: opacity var(--animation-normal);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 4px;
      border-radius: 2px 2px 0 0;
      background: var(--bdr-primary-light);
    }

    &:hover,
    &.--is-active {
      &::after {
        opacity: 1;
      }
    }

    @include mq {
      font-size: var(--fz-14);
      cursor: pointer;
    }
  }
}