@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.btn {
  --x: 16px;
  --y: 12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: var(--line-height-sm);
  padding-left: var(--x);
  padding-right: var(--x);
  padding-top: var(--y);
  padding-bottom: var(--y);
  border-radius: var(--bdr-radius-md);
  border: 1px solid transparent;
  font-size: var(--fz-14);
  text-align: center;

  @include mq {
    cursor: pointer;
  }

  // Type
  &.--normal {
    background-color: var(--bg-white);
    border-color: var(--bdr-btn-gray);

    &:hover {
      border-color: var(--bdr-btn-gray--hover);
    }
  }
  &.--impact {
    background-color: var(--bg-black);
    color: var(--txt-white);
  }
  &.--primary-outline {
    border-color: var(--bg-primary);
  }

  &.--search-basic {
    align-items: center;
    flex-direction: column;
    color: var(--txt-white);
    line-height: var(--line-height-md);
    background-color: var(--bg-black); //あとで変更
    border-radius: var(--bdr-radius-sm);
    font-size: var(--fz-12);
    padding: var(--space-24) var(--space-8);

    b {
      font-weight: var(--fw-bold);
      font-size: var(--fz-16);
    }
  }

  // Icon
  &.--icon-before::before,
  &.--icon-after::after {
    content: "";
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    width: 16px;
    height: 16px;
    background-color: #f0f0f0; //暫定
  }
  &.--icon-before {
    &::before {
      margin-right: 8px;
    }
  }
  &.--icon-after {
    &::after {
      margin-left: 8px;
    }
  }
  &.--icon-lg {
    &::after,
    &::before {
      width: 24px !important;
      height: 24px !important;
    }
  }

  &.--i-arrow {
    background-image: url("../img/icons/arrow-right.svg");
  }

  // Size
  $sizes: xxs, xs, sm, md, lg, xl;
  @each $size in $sizes {
    @if $size == xxs {
      &.--#{$size} {
        --x: var(--space-8);
        --y: var(--space-4);
        font-size: var(--fz-12);
        border-radius: var(--bdr-radius-sm);
      }
    }
    @if $size == xs {
      &.--#{$size} {
        --y: var(--space-10);
      }
    }
    @if $size == sm {
      &.--#{$size} {
        --y: var(--space-10);
      }
    }
    @if $size == md {
      &.--#{$size} {
        --y: var(--space-12);
      }
    }
    @if $size == lg {
      &.--#{$size} {
        --y: var(--space-14);
      }
    }
    @if $size == xl {
      &.--#{$size} {
        --y: var(--space-16);
      }
    }
  }

  @include mq {
    @each $size in $sizes {
      @if $size == xxs {
        &.--pc-#{$size} {
          --x: var(--space-8);
          --y: var(--space-4);
          font-size: var(--fz-12);
          border-radius: var(--bdr-radius-sm);
        }
      }
      @if $size == xs {
        &.--pc-#{$size} {
          --y: var(--space-10);
        }
      }
      @if $size == sm {
        &.--pc-#{$size} {
          --y: var(--space-10);
        }
      }
      @if $size == md {
        &.--pc-#{$size} {
          --y: var(--space-12);
        }
      }
      @if $size == lg {
        &.--pc-#{$size} {
          --y: var(--space-14);
        }
      }
      @if $size == xl {
        &.--pc-#{$size} {
          --y: var(--space-16);
        }
      }
    }
  }

  // width
  &.--w100 {
    width: 100%;
  }

  &.--mw400px {
    width: 400px;
    max-width: 100%;
  }

  // Status
  &.--saved {
    border-color: var(--bdr-btn-gray-dark);
  }
}
