@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.btn {
  --x: 16px;
  --y: 12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: var(--line-height-sm);
  padding-left: var(--x);
  padding-right: var(--x);
  padding-top: var(--y);
  padding-bottom: var(--y);
  border-radius: var(--bdr-radius-md);
  border: 1px solid transparent;
  font-size: var(--fz-14);
  text-align: center;
  transition: var(--animation-normal);

  @include mq {
    cursor: pointer;
  }

  // Type
  &.--normal {
    background-color: var(--bg-white);
    border-color: var(--bdr-btn-gray);

    &:hover {
      border-color: var(--bdr-btn-gray--hover);
    }
  }
  &.--impact {
    background-color: var(--bg-black);
    color: var(--txt-white);
  }
  &.--primary {
    background-color: var(--bg-white);
    border-color: var(--bdr-btn-primary-mid);

    &:hover {
      border-color: var(--bdr-btn-primary);
    }
  }
  &.--primary-light {
    background-color: var(--bg-white);
    border-color: var(--bdr-btn-primary-mid-light);

    &:hover {
      border-color: var(--bdr-btn-primary);
    }
  }
  &.--primary-outline {
    border-color: var(--bdr-btn-primary);
  }

  // アイコン基本
  &.--icon-before::before,
  &.--icon-after::after {
    content: "";
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    --icon-size: var(--fz-24); //基本サイズ
    width: var(--icon-size);
    height: var(--icon-size);
    background-color: var(--bg-black); //アイコンカラー
    flex-shrink: 0;
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
  }
  &.--icon-before {
    &::before {
      margin-right: var(--space-8);
    }
    &.--xs,
    &.--xxs {
      &::before {
        --icon-size: var(--fz-16);
        margin-right: var(--space-4);
      }
    }
  }
  &.--icon-after {
    &::after {
      margin-left: var(--space-8);
    }
    &.--xs,
    &.--xxs {
      &::after {
        --icon-size: var(--fz-16);
        margin-left: var(--space-4);
      }
    }
  }
  &.--icon-lg {
    &::after,
    &::before {
      --icon-size: var(--fz-24) !important;
    }
  }
  &.--icon-primary {
    background-color: var(--bg-primary);
  }
  &.--impact.--icon-before::before,
  &.--impact.--icon-after::after {
    background-color: var(--bg-white); //アイコンカラー
  }

  // アイコン
  &.--i-arrow-r {
    &::before,
    &::after {
      mask-image: var(--icon-arrow-r);
    }
  }

  &.--i-map {
    &::before,
    &::after {
      mask-image: var(--icon-map);
    }
  }

  &.--i-mail {
    &::before,
    &::after {
      mask-image: var(--icon-mail);
    }
  }

  &.--i-tel {
    &::before,
    &::after {
      mask-image: var(--icon-tel);
    }
  }

  &.--i-link-out {
    &::before,
    &::after {
      mask-image: var(--icon-link-out);
    }
  }

  // Size
  $sizes: xxs, xs, sm, md, lg, xl;
  @each $size in $sizes {
    @if $size == xxs {
      &.--#{$size} {
        --x: var(--space-8);
        --y: var(--space-4);
        font-size: var(--fz-12);
        border-radius: var(--bdr-radius-sm);
      }
    }
    @if $size == xs {
      &.--#{$size} {
        --x: var(--space-8);
        --y: var(--space-8);
        font-size: var(--fz-12);
      }
    }
    @if $size == sm {
      &.--#{$size} {
        --y: var(--space-10);
      }
    }
    @if $size == md {
      &.--#{$size} {
        --y: var(--space-12);
      }
    }
    @if $size == lg {
      &.--#{$size} {
        --y: var(--space-14);
        font-size: var(--fz-16);
      }
    }
    @if $size == xl {
      &.--#{$size} {
        --y: var(--space-16);
        font-size: var(--fz-16);
      }
    }
  }

  @include mq {
    @each $size in $sizes {
      @if $size == xxs {
        &.--pc-#{$size} {
          --x: var(--space-8);
          --y: var(--space-4);
          font-size: var(--fz-12);
          border-radius: var(--bdr-radius-sm);
        }
      }
      @if $size == xs {
        &.--pc-#{$size} {
          --x: var(--space-8);
          --y: var(--space-8);
        }
      }
      @if $size == sm {
        &.--pc-#{$size} {
          --y: var(--space-10);
          font-size: var(--fz-14);
        }
      }
      @if $size == md {
        &.--pc-#{$size} {
          --y: var(--space-12);
          font-size: var(--fz-14);
        }
      }
      @if $size == lg {
        &.--pc-#{$size} {
          --y: var(--space-14);
          font-size: var(--fz-16);
        }
      }
      @if $size == xl {
        &.--pc-#{$size} {
          --y: var(--space-16);
          font-size: var(--fz-16);
        }
      }
    }
  }

  // width
  &.--w-100 {
    width: 100%;
  }

  &.--mw-400px {
    width: 400px;
    max-width: 100%;
  }

  // Status
  &.--saved {
    border-color: var(--bdr-btn-gray-dark);
  }

  // 検索用ボタン
  &.--search-basic {
    align-items: center;
    flex-direction: column;
    color: var(--txt-white);
    line-height: var(--line-height-md);
    border: none;
    background-color: var(--bg-black);
    background-image: var(--bg-black-gradient-rb);
    background-size: 200% auto;
    background-position: left top;
    border-radius: var(--bdr-radius-sm);
    font-size: var(--fz-12);
    padding: var(--space-16) var(--space-8);
    transition: var(--animation-normal);

    &:hover {
      background-position: right top;
    }

    b {
      font-weight: var(--fw-bold);
      font-size: var(--fz-16);
    }

    &.--current {
      border: 1px solid var(--bdr-btn-gray);
      color: var(--txt-dark);
      background: var(--bg-gray-xlight);
    }
    &.--current:hover {
      border-color: var(--bdr-btn-gray--hover);
      color: var(--txt-normal);
    }

    @include mq {
      padding: var(--space-24) var(--space-8);
    }
  } //.--search-basic

  // Utilities
  &.--no-border {
    border: none !important;
  }

  // =======================================================
  // 特徴
  &.--cta-contact {
    display: flex;
    flex-direction: column;

    @include mq {
      // flex-direction: row;
    }

    .__tel {
      font-family: var(--ff-num);
      font-size: var(--fz-28);
      line-height: var(--line-height-sm);
      display: flex;
      align-items: center;
      font-weight: 500;
      color: var(--txt-primary);

      &::before {
        content: "";
        --icon-size: var(--fz-28);
        width: var(--icon-size);
        height: var(--icon-size);
        // background-size: contain;
        // background: var(--icon-tel-primary) no-repeat center center;
        // background-color: var(--bg-primary);
        background-color: currentColor;
        mask: var(--icon-tel) no-repeat center center / contain;
        margin-right: var(--space-8);
      }
    }

    .__web-sub {
      display: flex;
      // flex-direction: column;
      align-items: center;

      &::before {
        content: "";
        --icon-size: var(--fz-24);
        width: var(--icon-size);
        height: var(--icon-size);
        background-color: var(--bg-primary);
        mask: var(--icon-mail) no-repeat center center / contain;
        margin-right: var(--space-8);
      }

      @include mq {
        flex-direction: column;

        &::before {
          margin-right: 0;
        }
      }
    }
  }

  &.--cta-owner {
    display: flex;
    flex-direction: column;
    gap: var(--space-8);

    @include mq {
      gap: var(--space-24);
      flex-direction: row;
    }

    .__tel {
      display: flex;
      align-items: center;
      font-size: var(--fz-20);
      font-weight: 500;
      font-family: var(--ff-num);

      &::before {
        content: "";
        background-color: currentColor;
        --icon-size: var(--fz-24);
        width: var(--icon-size);
        height: var(--icon-size);
        mask: var(--icon-tel) no-repeat center center / contain;
        margin-right: var(--space-8);
      }
    }

    .__sub {
      font-size: var(--fz-12);

      @include mq {
        text-align: start;
      }
    }
  }
}
