// カード
@use "../abstracts/mixins" as *;

.c-card {
  border-radius: var(--bdr-radius-sm);
  box-shadow: var(--shadow-sm);
  background-color: var(--bg-white);

  &__link {
    display: flex;
    flex-direction: column;
  }

  &__img {
    position: relative;
    img {
      border-radius: var(--bdr-radius-sm) var(--bdr-radius-sm) 0 0;
      width: 100%;
      aspect-ratio: 3 / 2;
      object-fit: cover;
    }
    .--contain {
      object-fit: contain;
    }
  }

  &__body {
    padding: var(--space-16) var(--space-16) var(--space-24) var(--space-16);
  }

  &__title {
    line-height: var(--line-height-md);
  }

  &__title-icon {
    display: inline-block;
    background: var(--bg-black);
    font-size: var(--fz-12);
    color: var(--txt-white);
    padding: 0 var(--space-4);
  }

  &__h {
    font-size: var(--fz-14);
    font-weight: var(--fw-bold);
    display: inline;
  }

  &__text {
    font-size: var(--fz-14);
    &:not(:first-child) {
      margin-top: var(--space-8);
    }
  }

  &__flag {
    border-radius: var(--bdr-radius-sm) 0 var(--bdr-radius-sm) 0 !important;
    position: absolute;
    left: 0;
    top: 0;

    &.--new {
      background-color: var(--bg-primary) !important;
      text-transform: uppercase;
    }
  }
}

// レコメンド用カード
.c-card-recommend {
  &__img {
    padding-top: var(--space-16);
  }
  &__info {
    font-size: var(--fz-12);
  }
  &__rent {
    font-weight: var(--fw-semibold);
    font-family: var(--ff-en-jp);
    margin-top: 0!important;

    .__price {
      font-size: var(--fz-18);
      margin: 0 var(--space-4);
    }
  }
}