// フラグ
// @use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.c-flag {
  display: inline-block;
  line-height: var(--line-height-100);
  padding: var(--space-4) var(--space-8);
  font-size: var(--fz-11);
  color: var(--txt-white);
  border-radius: 1px;
  min-width: calc(6em + var(--space-8) * 2);
  text-align: center;
  background: var(--bg-gray-xdark);

  // color
  &.--primary {
    background: var(--bg-primary-mid);
  }
  &.--primary-mid-light {
    background: var(--bg-primary-mid-light);
  }

  // =======================================================
  // type
  &.--outline-primary-thick {
    background: var(--bg-white) !important;
    border: 2px solid var(--bdr-primary-mid);
    color: var(--txt-primary-mid);
    font-weight: var(--fw-semibold);
  }
  // &.--outline-primary{}
  &.--outline-primary-thick {
    background: var(--bg-white) !important;
    border: 2px solid var(--bdr-primary-mid);
    color: var(--txt-primary-mid);
    font-weight: var(--fw-semibold);
  }
  &.--outline {
    background: var(--bg-white) !important;
    border: 1px solid var(--bdr-light);
    color: var(--txt-light);
    padding: 1px var(--space-4) !important;
  }
  // 申込有
  &.--applied {
    background-color: var(--bg-gray-dark);
    color: var(--txt-white);
    // background-color: var(--bg-gray-white);
    // color: var(--txt-light);
    // border: 1px solid var(--bdr-light);
    // border-top: none;
    // ==
    padding: var(--space-2) var(--space-6)!important;
    display: flex;
    align-items: center;
    min-width: fit-content;
    // font-weight: var(--fw-semibold);

    &::before {
      --size: 18px;
      content: '';
      margin-right: var(--space-2);
      height: var(--size);
      width: var(--size);
      background-color: var(--bg-white);
      // background-color: var(--bg-gray-dark);
      @include mask-icon(--icon-check);
    }
  }



  // =======================================================
  // size
  &.--sm {
    font-size: var(--fz-10);
    padding: 2px var(--space-4);
    min-width: calc(4em + var(--space-4) * 2);
  }
  &.--pc-sm {
    @include mq {
      font-size: var(--fz-10);
      padding: 2px var(--space-4);
      min-width: calc(4em + var(--space-4) * 2);
    }
  }
  &.--md {
    //通常サイズ
    font-size: var(--fz-11);
    padding: var(--space-4) var(--space-8);
    min-width: calc(6.4em + var(--space-8) * 2);
  }
  &.--pc-md {
    @include mq {
      font-size: var(--fz-11);
      padding: var(--space-2) var(--space-8);
      min-width: calc(6.4em + var(--space-8) * 2);
    }
  }
  // &.--lg // 必要あれば作成

  &.--fit-content {
    width: fit-content;
    min-width: 0;
  }
}
