// グローバルナビゲーション詳細設定
@use "../abstracts/mixins" as *;

.gnav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  z-index: var(--z-index-lv2);
  color: var(--txt-white);
  background-color: transparent;
  transition: background-color var(--animation-normal) var(--animation-easing);

  &.--is-open {
    left: 0;
    background-color: rgba(0 0 0 / 0.4);
    // z-index: var(--z-index-lv2);
  }

  @include mq {
    position: static;
    height: auto;
    width: auto;
    background-color: transparent !important;
  }

  // Gnav開閉🍔ボタン
  &-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    --btn-size: var(--space-40);
    width: var(--btn-size);
    height: var(--btn-size);
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: var(--space-32);
      height: 1px;
      background-color: var(--bg-gray-dark);
      left: 50%;
      top: 50%;
      translate: 0 -50%;
    }

    &::before {
      translate: -50% calc(-50% - 4px);
    }
    &::after {
      translate: -50% calc(-50% + 4px);
    }

    @include mq {
      display: none;
    }
  }

  &-close {
    position: absolute;
    left: 0;
    top: 0;
    width: var(--space-64);
    height: var(--space-64);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity var(--animation-normal);

    .gnav.--is-open & {
      opacity: 1;
    }

    &::before {
      content: "";
      display: block;
      background-color: var(--bg-white);
      --icon-size: var(--space-24);
      width: var(--icon-size);
      height: var(--icon-size);
      mask: var(--icon-close) no-repeat center center / contain;
    }

    @include mq {
      display: none !important;
    }
  }

  // メインコンテナ
  &-container {
    background-color: var(--bg-black-90);
    width: var(--gnav-sp-width);
    margin-left: var(--space-64);
    height: 100%;
    transition: left var(--animation-normal) var(--animation-easing);
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 100;
    padding: var(--space-40) var(--space-24);
    overflow: auto;

    @include mq {
      position: static;
      width: auto;
      margin-left: 0;
      padding: 0;
      background-color: transparent;
      overflow: initial;
    }
  }
  &.--is-open &-container {
    left: 0;
  }

  // サブコンテナ
  &-sub-container {
    position: fixed;
    width: var(--gnav-sp-width);
    top: 0;
    left: var(--space-64);
    z-index: 100;
    left: 100%; //暫定

    @include mq {
      display: grid;
      grid-template-rows: 0fr;

      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      height: auto;
      background-color: var(--bg-black-90);
      transition: grid-template-rows var(--animation-slow) var(--animation-easing);

      // 開いている状態
      &.--is-open {
        grid-template-rows: 1fr;
      }
    }

    // サブコンテナ内部
    &__inner {
      overflow: hidden;
      position: relative;

      max-width: var(--l-container-max);
      width: 100%;
      margin: 0 auto;
    }

    // サブコンテナ閉じるボタン
    &__btn-close {
      position: absolute;
      top: var(--space-24);
      right: var(--space-24);
      z-index: 100;
      cursor: pointer;
      --btn-size: var(--space-40);
      width: var(--btn-size);
      height: var(--btn-size);
      display: flex;
      align-items: center;
      justify-content: center;
      display: none;

      &::before {
        content: "";
        --icons-size: var(--space-24);
        width: var(--icons-size);
        height: var(--icons-size);
        background: var(--bg-white);
        mask: var(--icon-close) no-repeat center center / contain;
      }

      @include mq {
        display: flex;
      }
    }
  }

  // PC: Lv2コンテンツ(開閉させるためのコンテナ)
  &-sub-content {
    @include mq {
      display: grid !important; //gnav-anim-panelの設定を上書き
      grid-template-rows: 0fr;
      transition: grid-template-rows var(--animation-normal) !important; //gnav-anim-panelの設定を上書き

      &.--is-open {
        grid-template-rows: 1fr;
      }

      &__inner {
        overflow: hidden;
        min-height: 0;
        width: 100%;
        // max-width: var(--l-container-max);
        // margin: 0 auto;
      }
    }
  }

  // PC: Lv2サブセクション
  &-subsect {
    @include mq {
      display: flex;
      flex-direction: row !important;
      margin: 0 auto;
      padding: var(--space-48) 0;

      &__header {
        padding: 0 var(--space-32) 0 0 !important;
        margin-bottom: var(--space-8);
        flex: 0 0 30% !important;
        flex-direction: column;
        align-items: stretch !important;
        border-right: 1px solid var(--bdr-xxdark);
      }

      &__h {
        font-size: var(--fz-32) !important;
        font-weight: var(--fw-semibold) !important;
        letter-spacing: var(--letter-space-10);
        line-height: var(--line-height-sm);
      }

      &__lead {
        font-size: var(--fz-14);
        margin-top: var(--space-16);
      }

      &__content {
        padding-left: var(--space-20);
        flex: 0 1 70% !important;
      }
    }
  }

  // カラム
  &-subsect-col {
    @include mq {
      flex: 0 0 30% !important;
    }
  }

  // サブリスト
  &-sublist {
    flex: 1;
    line-height: var(--line-height-md);
    > li {
      border-bottom: 1px solid var(--bdr-xxdark);
      > a {
        display: block;
        padding: var(--space-16);
        font-size: var(--fz-14);
        color: var(--txt-white);

        &:active {
          background: rgba(255 255 255 / 0.1);
        }
      }
    }
    @include mq {
      // display: none;
      > li {
        border-bottom: none;

        > a {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: var(--space-8) var(--space-12);

          &:hover {
            background: var(--bg-gray-xxdark);
          }
          &:active {
            background: transparent;
          }

          &::after {
            content: "";
            --icon-size: var(--space-16);
            flex: 0 0 var(--icon-size);
            width: var(--icon-size);
            height: var(--icon-size);
            background: var(--bg-white);
            mask: var(--icon-arrow-r) no-repeat center center / contain;
          }
        }
      }
    }
  }

  // アニメーション対象パネル
  &-anim-panel {
    transition: left var(--animation-normal) var(--animation-easing);
    position: fixed;
    top: 0;
    left: 100%; //暫定
    height: 100vh;
    width: var(--gnav-sp-width);
    background: var(--bg-black); //暫定
    z-index: var(--z-index-lv1);

    &.--is-open {
      // transform: translateX(-40%); //暫定
      left: var(--space-64);
    }

    // 子階層を一旦非表示してOPEN時に即表示
    > * {
      display: none;
    }

    &.--is-open > * {
      display: block;
    }

    @include mq {
      position: static;
      width: auto;
      height: auto;
      background: transparent;

      // PCでは子階層を表示
      > * {
        display: block;
      }
    }
  }

  // 下層レベル
  &-lower-sect {
    @include mq {
      display: flex;
      flex-direction: column;

      &:not(:first-child) {
        margin-top: var(--space-32);
      }
    }

    &__header {
      display: flex;
      align-items: center;
      padding: var(--space-16);
      border-bottom: 1px solid var(--bdr-xdark);

      &.--is-open-lower {
        justify-content: space-between;
        border-bottom: 1px solid var(--bdr-xxdark);

        &::after {
          content: "";
          --icon-size: var(--space-24);
          width: var(--icon-size);
          height: var(--icon-size);
          background: var(--bg-white);
          mask: var(--icon-arrow-r) no-repeat center center/ contain;
        }
      }

      &.--is-go-back {
        padding-left: var(--space-4);
      }

      @include mq {
        border-bottom: none;
        padding: 0 var(--space-12);
        margin-bottom: var(--space-8);

        // 下層オープンボタンはPCでは非表示
        &.--is-open-lower {
          display: none;
        }

        &.--is-go-back {
          padding-left: var(--space-12);
        }
      }
    }

    &__h {
      font-size: var(--fz-18);
      font-weight: var(--fw-bold);

      @include mq {
        // font-size: var(--fz-16);
        letter-spacing: var(--letter-space-10);
      }
    }

    // 見出し 兼 下層オープン
    .--is-open-lower &__h {
      font-size: var(--fz-14) !important;
      font-weight: var(--fw-normal) !important;

      @include mq {
        font-size: var(--fz-18) !important;
        font-weight: var(--fw-bold) !important;
      }
    }

    &__content {
      @include mq {
        // 下層でも使用しているので、その影響が出ないか要チェック
        display: flex;
        flex: 1 1 100%;
        gap: var(--space-32);

        > * {
          flex: 1;
        }
      }
    }
  }

  // 第1階層ナビゲーションリスト
  &-list {
    padding-bottom: var(--space-16);
    margin-bottom: var(--space-16);
    border-bottom: 1px solid var(--bdr-xdark);

    > li {
      &:not(:last-child) {
        margin-bottom: var(--space-24);
      }
    }

    &__link {
      display: block;
      padding-right: var(--space-32);
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        translate: 0 -50%;
        background-color: var(--bg-white);
        mask: var(--icon-arrow-r) no-repeat center center/ contain;
        --icon-size: var(--space-24);
        width: var(--icon-size);
        height: var(--icon-size);
      }
    }

    &__link-text {
      display: block;
      font-size: var(--fz-20);
      line-height: var(--line-height-sm);
      margin-bottom: var(--space-8);
    }
    &__lead {
      font-size: var(--fz-12);
      color: var(--txt-xlight);
    }

    @include mq {
      display: flex;
      align-items: center;
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: none;

      > li {
        line-height: var(--line-height-md);

        &:not(:last-child) {
          margin-bottom: 0;
          margin-right: var(--space-32);
        }
      }

      &__link {
        font-size: var(--fz-14);
        letter-spacing: var(--letter-space-10);
        cursor: pointer;
        padding-right: 0;

        &::after {
          content: none;
        }
      }

      &__link-text {
        font-size: var(--fz-14);
        line-height: var(--line-height-md);
        margin-bottom: 0;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: -2px;
          left: 0;
          height: 1px;
          width: 100%;
          background-color: var(--bg-white);
          transition: scale var(--animation-normal);
          scale: 0 1;
        }

        &:hover::after {
          scale: 1 1;
        }
      }

      &__link.--is-open &__link-text {
        &::after {
          scale: 1 1;
        }
      }
    }
  }

  // パネル戻るボタン(SPのみ)
  &-go-back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--space-40);
    height: var(--space-40);

    &::before {
      content: "";
      --icon-size: var(--space-24);
      width: var(--icon-size);
      height: var(--icon-size);
      background-color: var(--bg-white);
      mask: var(--icon-arrow-r) no-repeat center center/ contain;
      rotate: 180deg;
    }

    @include mq {
      display: none;
    }
  }

  // サイト基本ナビゲーション

  &-site-info,
  &-user-control {
    font-size: var(--fz-14);
    letter-spacing: var(--letter-space-10);
    padding-bottom: var(--space-16);
    margin-bottom: var(--space-16);
    border-bottom: 1px solid var(--bdr-xdark);

    @include mq {
      display: none;
    }

    > li {
      &:not(:last-child) {
        margin-bottom: var(--space-10);
      }

      > a {
        display: block;
      }
    }
  }

  // ユーザー主導ナビゲーション
  &-user-control {
    border-bottom: none;
  }

  // 言語
  &-lang {
    margin-right: var(--space-32);
    font-size: var(--fz-12);
    letter-spacing: var(--letter-space-10);
  }

  // 言語切替(SPのみ)
  &-lang-switch {
    display: flex;
    justify-content: center;
    gap: var(--space-32);
    font-size: var(--fz-14);
    letter-spacing: var(--letter-space-10);

    @include mq {
      display: none;
    }
  }
}
