// グローバルナビゲーション詳細設定
@use "../abstracts/mixins" as *;

.gnav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  z-index: 100;
  color: var(--txt-white);
  background-color: transparent;
  transition: background-color var(--animation-normal) var(--animation-easing);

  &.--is-open {
    left: 0;
    background-color: rgba(0 0 0 / 0.2);
  }

  @include mq {
    position: static;
    height: auto;
    width: auto;
    background-color: transparent !important;
  }

  // Gnav開閉🍔ボタン
  &-toggle {
    @include mq {
      display: none;
    }
  }

  // メインコンテナ
  &-container {
    background-color: var(--bg-black-90);
    width: var(--gnav-sp-width);
    margin-left: var(--space-64);
    height: 100%;
    transition: left var(--animation-normal) var(--animation-easing);
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 100;
    padding: var(--space-40) var(--space-24);
    overflow: auto;

    @include mq {
      position: static;
      width: auto;
      margin-left: 0;
      padding: 0;
      background-color: transparent;
      overflow: initial;
    }
  }
  &.--is-open &-container {
    left: 0;
  }

  // サブコンテナ
  &-sub-container {
    position: fixed;
    width: var(--gnav-sp-width);
    top: 0;
    left: var(--space-64);
    // height: 100vh;
    z-index: 100;
    left: 100%; //暫定

    @include mq {
      display: grid;
      grid-template-rows: 0fr;

      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      height: auto;
      background-color: var(--bg-black-90);
      transition: grid-template-rows var(--animation-slow) var(--animation-easing);

      // 開いている状態
      &.--is-open {
        grid-template-rows: 1fr;
      }
    }

    // サブコンテナ内部
    &__inner {
      overflow: hidden;
      position: relative;

      max-width: var(--l-container-max);
      width: 100%;
      margin: 0 auto;
    }

    // サブコンテナ閉じるボタン
    &__btn-close {
      position: absolute;
      top: var(--space-24);
      right: var(--space-24);
      z-index: 100;
      cursor: pointer;
    }
  }

  // PC: Lv2コンテンツ
  &-lv2 {
    @include mq {
      display: grid !important; //gnav-anim-panelの設定を上書き
      grid-template-rows: 0fr;
      transition: grid-template-rows var(--animation-normal) !important; //gnav-anim-panelの設定を上書き

      &.--is-open {
        grid-template-rows: 1fr;
      }

      &__inner {
        overflow: hidden;
        min-height: 0;
        width: 100%;
        // max-width: var(--l-container-max);
        // margin: 0 auto;
      }
    }
  }

  // PC: Lv2サブセクション
  &-subsect {
    @include mq {
      display: flex;
      margin: 0 auto;
      padding: var(--space-48) 0;

      &__header {
      }
    }
  }

  // サブリスト
  &-sublist {
    line-height: var(--line-height-md);
    > li {
      border-bottom: 1px solid var(--bdr-xxdark);
      > a {
        display: block;
        padding: var(--space-16);
        font-size: var(--fz-14);
        color: var(--txt-white);

        &:active {
          background: rgba(255 255 255 / 0.1);
        }
      }
    }
    @include mq {
      // display: none;
      > li {
        border-bottom: none;

        > a {
          &:active {
            background: transparent;
          }
        }
      }
    }
  }

  // アニメーション対象パネル
  &-anim-panel {
    transition: left var(--animation-normal) var(--animation-easing);
    position: fixed;
    top: 0;
    left: 100%; //暫定
    height: 100vh;
    width: var(--gnav-sp-width);
    background: var(--bg-black); //暫定

    &.--is-open {
      // transform: translateX(-40%); //暫定
      left: var(--space-64);
    }

    // 子階層を一旦非表示してOPEN時に即表示
    > * {
      display: none;
    }

    &.--is-open > * {
      display: block;
    }

    @include mq {
      position: static;
      width: auto;
      height: auto;
      background: transparent;

      // PCでは子階層を表示
      > * {
        display: block;
      }
    }
  }

  // 下層レベル
  &-lower-sect {
    &__header {
      display: flex;
      align-items: center;
      padding: var(--space-16);
      border-bottom: 1px solid var(--bdr-xdark);

      @include mq {
        border-bottom: none;
        padding: 0;

        // 下層オープン
        &.gnav-open-lower {
          display: none;
        }
      }
    }

    &__h {
      font-size: var(--fz-18);
    }

    .gnav-open-lower &__h {
      font-size: var(--fz-14) !important;
      font-weight: var(--fw-normal) !important;

      @include mq {
        font-size: var(--fz-18) !important;
        font-weight: var(--fw-bold) !important;
      }
    }

    @include mq {
      &__header {
        flex-direction: column;
        align-items: stretch;
      }
    }
  }

  // 第1階層ナビゲーションリスト
  &-list {
    padding-bottom: var(--space-24);
    margin-bottom: var(--space-24);
    border-bottom: 1px solid var(--bdr-xdark);

    > li {
      &:not(:last-child) {
        margin-bottom: var(--space-32);
      }
    }

    &__link {
      display: block;
    }

    &__link-text {
      display: block;
      font-size: var(--fz-24);
      line-height: var(--line-height-sm);
      margin-bottom: var(--space-8);
    }
    &__lead {
      font-size: var(--fz-12);
      color: var(--txt-xlight);
    }

    @include mq {
      display: flex;
      align-items: center;
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: none;

      > li {
        line-height: var(--line-height-md);

        &:not(:last-child) {
          margin-bottom: 0;
          margin-right: var(--space-32);
        }
      }

      &__link {
        font-size: var(--fz-14);
        letter-spacing: var(--letter-space-10);
        cursor: pointer;
      }

      &__link-text {
        font-size: var(--fz-14);
        line-height: var(--line-height-md);
        margin-bottom: 0;
      }
    }
  }

  // パネル戻るボタン(SPのみ)
  &-go-back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

    @include mq {
      display: none;
    }
  }

  // サイト基本ナビゲーション

  &-site-info,
  &-user-control {
    font-size: var(--fz-14);
    letter-spacing: var(--letter-space-10);
    padding-bottom: var(--space-24);
    margin-bottom: var(--space-24);
    border-bottom: 1px solid var(--bdr-xdark);

    @include mq {
      display: none;
    }

    > li {
      &:not(:last-child) {
        margin-bottom: var(--space-10);
      }

      > a {
        display: block;
      }
    }
  }

  // ユーザー主導ナビゲーション
  &-user-control {
    border-bottom: none;
  }

  // 言語切替
  &-lang-switch {
    display: flex;
    justify-content: center;

    @include mq {
      display: none;
    }
  }
}
