// 汎用リスト
.c-list {
  // ※リスト
  &-kome {
    li {
      padding-left: 1.5em;

      &::before {
        content: "※";
        margin-right: var(--space-4);
        width: 1em;
        float: left;
        margin-left: -1.5em;
      }

      // &:not(:first-child) {
      //   margin-top: var(--space-4);
      // }
    }
  }
}
