// モーダルウィンドウ
@use "../abstracts/mixins" as *;

// 汎用モーダル
.c-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--bg-black-70);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: var(--z-index-lv5);

  &.--sp-only {
    @include mq {
      position: static;
      display: block;
      background-color: transparent;
    }
  }

  &.--is-open {
    display: flex;
  }

  &__inner {
    width: 100%;
    margin-left: var(--space-16);
    margin-right: var(--space-16);

    @include mq {
      max-width: 960px;
    }
  }

  &.--sp-only &__inner {
    @include mq {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

$c-modal-sp-only: ".c-modal.--sp-only";

// 汎用モーダル デザイン＆レイアウト
.c-modal-content {
  background-color: var(--bg-white);
  box-shadow: var(--shadow-md);
  border-radius: var(--bdr-radius-md);

  #{$c-modal-sp-only} & {
    @include mq {
      background-color: transparent;
      box-shadow: none;
      border-radius: 0;
    }
  }

  &__header {
    background-color: var(--bg-black);
    padding: var(--space-8) var(--space-40);
    position: relative;
    border-radius: var(--bdr-radius-md) var(--bdr-radius-md) 0 0;

    @include mq {
      padding: var(--space-16);
    }
  }

  &__h {
    text-align: center;
    line-height: var(--line-height-md);
    color: var(--txt-white);
    font-size: var(--fz-16);

    @include mq {
      font-size: var(--fz-18);
    }
  }

  &__header-close {
    position: absolute;
    width: 24px;
    height: 24px;
    // background-color: #555; //暫定
    right: var(--space-8);
    top: var(--space-8);

    &::before {
      content: "";
      display: block;
      background-color: var(--bg-white);
      --icon-size: var(--space-16);
      width: var(--icon-size);
      height: var(--icon-size);
      mask: var(--icon-close) no-repeat center center / contain;
    }

    @include mq {
      cursor: pointer;
      right: var(--space-16);
      top: var(--space-16);

      &::before {
        --icon-size: var(--space-24);
      }
    }
  }

  &__body {
    padding: var(--space-16) var(--space-24);
    max-height: 60vh;

    &.--scroll {
      max-height: 50vh;
      overflow-y: auto;
      position: relative;
      padding: 0 var(--space-16) var(--space-24);
    }

    @include mq {
      &.--scroll {
        // max-height: 50vh;
        padding: 0 var(--space-24) var(--space-24);
      }
    }
  }

  &__footer {
    border-radius: 0 0 var(--bdr-radius-md) var(--bdr-radius-md);

    > * {
      border-radius: 0 0 var(--bdr-radius-md) var(--bdr-radius-md);
    }
  }
} //c-modal-content

// 再検索ナビ用モーダル
.c-modal-re-search {
  position: fixed;
  overflow: hidden;
  // z-index: -1;
  z-index: var(--z-index-lv4);
  width: 1px;
  height: 1px;
  // opacity: 0;
  clip-path: inset(0 100% 100% 0);
  top: 0;
  left: 0;
  background-color: transparent;
  justify-content: flex-start;
  align-items: center;
  margin: -1px !important;

  // 戻るとき
  transition:
    background-color var(--animation-normal),
    clip-path 0s var(--animation-normal),
    width 0s var(--animation-normal),
    height 0s var(--animation-normal);

  &.--is-open {
    display: flex;
    width: 100%;
    height: 100%;
    clip-path: inset(0 0 0 0);
    margin: 0 !important;
    overflow: initial;
    // opacity: 1;
    background-color: var(--bg-black-70);
    transition: background-color var(--animation-normal);
    z-index: var(--z-index-lv4);
  }

  @include mq {
    position: static;
    background-color: transparent;
    clip-path: none;
    width: auto;
    height: auto;
    margin: 0 !important;
    overflow: initial;
    z-index: initial;

    &.--is-open {
      background-color: transparent;
    }
  }

  // 閉じるボタン
  &__close {
    display: none;
  }
  &.--is-open &__close {
    display: block;
    position: absolute;
    top: var(--space-16);
    right: var(--space-16);
  }
}
