// 検索結果共通

@use "../abstracts/mixins" as *;
// サマリー
.c-result-summary {
  // &__header {
  //   text-align: center;
  //   padding-bottom: var(--space-8);
  //   border-bottom: 1px solid var(--bdr-light);

  //   @include mq {
  //     padding-bottom: var(--space-12);
  //   }
  // }

  // &__h {
  //   font-size: var(--fz-18);
  //   font-weight: var(--fw-bold);
  //   letter-spacing: var(--letter-space-10);

  //   @include mq {
  //     font-size: var(--fz-24);
  //   }

  //   .__condition {
  //     font-weight: var(--fw-bold);
  //   }
  // }

  // ロー
  &__row {
    display: flex;
    align-items: center;
    padding: var(--space-8) 0;

    &:not(:last-child) {
      border-bottom: 1px solid var(--bdr-light);
    }

    @include mq {
      padding: var(--space-10) 0;
    }
  }

  // 条件ロー
  &__condition {
    position: relative;
    gap: var(--space-16)
    // --space: 18%;
  }

  // 概要
  &__overview {
    flex: 1;
    // display: block;
    font-size: var(--fz-14);
    line-height: var(--line-height-md);
    display: flex;
    align-items: center;

    @include mq {
      // justify-content: center;
      min-height: 48px;
      padding-left: var(--space);
    }

  }

  // 検索結果タイトル
  &__title {
    font-size: var(--fz-16);
    font-weight: var(--fw-semibold);

    @include mq {
      font-size: var(--fz-20);
    }

    span {
      font-weight: var(--fw-semibold);
    }
  }

  // プリフィックス
  &__prefix {
    font-feature-settings: "palt" 1;
    
    &::before {
      content: '【';
    }
    &::after {
      content: '】';
    }
  }

  // 検索ターム
  &__term {
    &:not(:last-child){
      &::after {
        content: '/';
        margin-left: var(--space-4);
      }
    }
  }

  // 条件保存
  &__control {
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;

    @include mq {
      // flex-basis: var(--space);

      // position: absolute;
      // right: 0;
      // top: 50%;
      // translate: 0 -50%;
    }
  }

  &__number-re-order {
    flex-direction: column;

    @include mq {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__number {
    display: flex;
    justify-content: center;

    @include mq {
    }
  }

  &__number-list {
    display: flex;
    align-items: baseline;
    font-weight: var(--fw-bold);

    &:not(:last-child) {
      margin-right: var(--space-24);
    }

    dt {
      &::after {
        content: ":";
        margin-right: var(--space-4);
      }
    }
  }
  &__fig {
    font-family: var(--ff-num);
    font-size: var(--fz-24);
    padding: 0 var(--space-4);
    font-weight: var(--fw-semibold);
  }

  // 並び替え
  &__display {
    display: flex;
    flex: 1;
    width: 100%;
    gap: var(--space-8);

    @include mq {
      flex: initial;
      width: auto;
      gap: var(--space-32);
    }
  }

  &__display-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: var(--fz-14);
    line-height: var(--line-height-md);
    color: var(--txt-dark);

    &:not(:last-child) {
      // margin-right: var(--space-16);
    }

    &.--order {
      flex-basis: 50%;
    }
    &.--format {
      flex-basis: 28%;
    }
    &.--num {
      flex-basis: 22%;
    }

    @include mq {
      flex-direction: row;
      align-items: center;
      flex: initial;

      &.--order,
      &.--format,
      &.--num {
        flex-basis: auto;
      }
    }

    dt {
      margin-bottom: var(--space-4);
      font-size: var(--fz-12);

      @include mq {
        font-size: var(--fz-14);
        margin-right: var(--space-16);
        margin-bottom: 0;
      }
    }
  }
}

// 検索結果なし
.c-result-noresult {
  padding-top: var(--space-32);
  padding-bottom: var(--space-32);
  flex: 1;
  
  &__text {
    text-align: center;
    &:not(:first-child) {
      margin-top: var(--space-16);
    }
  }

  &__link {
    margin-top: var(--space-24);
  }
  
  @include mq {
    
    &__text {
      font-size: var(--fz-18);

      &:not(:first-child) {
        margin-top: var(--space-16);
      }
    }

  }
}