// 検索結果 - 建物コンポーネント
@use "../abstracts/mixins" as *;

.c-result-build {
  border: 1px solid var(--bdr-light);
  padding: var(--space-16);
  padding-bottom: var(--space-24);

  @include mq {
    padding: var(--space-24) var(--space-16);
  }

  // 上部
  &__upper {
    position: relative;
  }

  // 下部
  &__lower {
    // position: relative;

    @include mq {
      margin-top: var(--space-24);
    }
  }

  // ヘッダー
  &__header {
    margin-bottom: var(--space-16);
    @include mq {
      margin-bottom: var(--space-24);
    }
  }

  &__header-content {
    display: flex;
    align-items: center;
  }

  &__flag {
    position: absolute;
    right: 0;
    top: 0;

    @include mq {
      margin-right: var(--space-24);
      position: static;
    }
  }
  &__flag-list {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    line-height: var(--line-height-100);
    position: relative;
    z-index: var(--z-index-lv1);

    li {
      > * {
        display: block;
      }
    }

    @include mq {
      li {
        // .c-flagのコンテクスト変更
        > .c-flag {
          min-width: 0;
        }
      }
    }
    
  }

  &__title {
    flex: 1;
    font-size: var(--fz-16);
    font-weight: var(--fw-bold);
    // margin-left: var(--space-16);
    line-height: var(--line-height-md);
    margin-right: var(--space-56);

    a {
      transition: none;
      &:hover {
        border-bottom: 2px solid var(--txt-normal);
      }
    }

    @include mq {
      font-size: var(--fz-20);
      // margin-left: var(--space-24);
      padding-right: var(--space-24);
      margin-right: 0;
    }
  }

  // 基本情報
  &__basic-info {
    display: flex;
    flex-direction: column;

    @include mq {
      flex-direction: row;
    }
  }

  // 写真
  &__pic-area {
    position: relative;
    overflow: hidden;
    max-height: 500px;

    @include mq {
      flex: 0 0 400px;
    }
  }
  &__pic {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: contain;
  }

  &__pic-original-site {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: var(--z-index-lv1);
  }

  // =======================================================
  // ※スライダーは _result-pic.scss

  // 概要
  &__overview {
    font-size: var(--fz-14);
    line-height: var(--line-height-md);
    margin-top: var(--space-24);

    @include mq {
      margin-left: var(--space-24);
      margin-top: 0;
      flex: 1;
    }
  }
  &__overview-list {
    background: var(--bg-gray-xxlight);
    padding: var(--space-16);

    dt {
      font-weight: var(--fw-bold);
      font-size: var(--fz-12);
      // color: var(--txt-light);
      margin-bottom: 2px;

      &:not(:first-child) {
        margin-top: var(--space-16);
      }
    }
    dd {
    }
  }

  // キャッチ
  &__catch {
    font-size: var(--fz-14);
    line-height: var(--line-height-md);
    margin-top: var(--space-16);
    border: 5px solid var(--bdr-xlight);
    padding: var(--space-16);
    font-weight: var(--fw-bold);
  }
}
