// 部屋リストコンポーネント
@use "../abstracts/mixins" as *;

.c-room-list {
  display: block;
  border-bottom: 1px solid var(--bdr-light);

  &.--no-bdr-btm {
    border-bottom: none;
  }

  // HEAD
  &__head {
    display: none;

    @include mq {
      display: block;
      padding: var(--space-8) var(--space-16);
      background-color: var(--bg-gray-xlight);
      border-bottom: 1px solid var(--bdr-light);
    }
  }
  &__head-row {
    @include mq {
      display: flex;
      align-items: center;
      gap: var(--space-8);
    }

    th {
      display: flex;
      justify-content: center;
      font-size: var(--fz-12);
      line-height: var(--line-height-sm);
      font-weight: var(--fw-normal);
      color: var(--txt-dark);
      text-align: center;
      flex: 1 0 0;
    }
  }

  // BODY
  &__body {
    display: block;
    overflow: hidden;
    max-height: 1200px;
    transition: max-height var(--animation-normal) var(--animation-easing);

    @include mq {
      max-height: 660px;
    }
  }

  &__body-row {
    // display: grid;
    // flex-wrap: wrap;
    display: block;
    position: relative;
    padding: var(--space-16) 0;

    &:not(:last-child) {
      border-bottom: 1px solid var(--bdr-light);
    }

    @include mq {
      display: flex;
      align-items: center;
      padding: var(--space-12) var(--space-16);
      transition: background var(--animation-normal);
      gap: var(--space-8);
      flex-wrap: wrap;

      &[data-js-room-link]:hover {
        background: var(--bg-gray-xxlight);
        cursor: pointer;
      }
    }

    th,
    td {
      line-height: var(--line-height-sm);
      font-size: var(--fz-14);
      display: flex;
      // flex-direction: column;

      @include mq {
        flex-direction: column;
        align-items: center;
        flex: 1 0 0;
      }
    }

    td {
      font-family: var(--ff-en-jp);
      column-gap: var(--space-8);
      row-gap: 2px;
      flex-wrap: wrap;
      margin-left: auto;
      // flex: 0 0 calc(100% - (100px + var(--space-24))); // 画像の幅 + 24px
      width: calc(100% - (80px + var(--space-16)));

      &.--fill {
        margin-left: 0;
        width: 100%;
      }

      &:nth-child(n + 4) {
        margin-top: var(--space-14);
      }

      @include mq {
        row-gap: var(--space-4);
        column-gap: 0;
        flex-wrap: nowrap;
        margin-left: 0;
        flex: 1 0 0;
        width: auto;

        &:nth-child(n + 4) {
          margin-top: 0;
        }
      }
    }

    .__body-floor,
    .__body-rent,
    .__body-shikirei,
    .__body-size {
      align-items: baseline;

      &::before {
        font-size: var(--fz-11);
        // line-height: var(--line-height-sm);
        flex: 1 0 100%;
        color: var(--txt-light);
      }

      @include mq {
        align-items: center;
        &::before {
          content: none !important;
        }
      }
    }

    .__body-flag {
      margin-left: 0;
      // padding: var(--space-8) 0;
      margin: 0;
      margin-bottom: var(--space-16);
      width: auto;

      @include mq {
        padding: 0;
        margin-bottom: 0;
      }
    }

    .__body-madori {
      float: left;
      width: 80px;
      margin: 0;
      background-color: var(--bg-white);
      // grid-area: 2 / 1/ 3 / 2;

      @include mq {
        padding: var(--space-8);
        float: none;
      }

      img {
        aspect-ratio: 1/1;
        object-fit: contain;
      }
    }

    .__body-floor {
      &::before {
        content: "階数・住戸番号:";
      }
    }

    .__body-shikirei {
      &::before {
        content: "敷金・礼金:";
      }
    }

    .__body-rent {
      &::before {
        content: "賃料 / 管理費・共益費:";
      }
    }

    .__body-size {
      &::before {
        content: "間取り・面積:";
      }
    }

    .__body-point {
      gap: var(--space-4);
    }

    .__body-control {
      align-items: stretch;
      flex-wrap: nowrap;

      > * {
        flex: 1 1 auto;
      }

      @include mq {
        > * {
          flex: 1;
        }
      }
    }
  } //&__body-row

  // &__body-row:nth-child(n + 6) {
  //   display: none;
  // }
  // &__body.--is-open &__body-row:nth-child(n + 6) {
  //   display: flex;
  //   transition: display 0s 2s;
  // }

  // COMMON
  &__col-flag {
    flex: 1 0 100% !important;
    flex-direction: row !important;
    align-items: center;
    gap: 2px !important;

    @include mq {
      // position: absolute;
      // left: var(--space-16);
      // top: var(--space-16);
      // flex: 0 0 10% !important;
      // flex-direction: column !important;
      align-items: flex-start;
    }
  }
  &__col-madori {
    margin-left: 0 !important;
    // width: 100px;
    flex: 0 0 80px !important;
    // position: absolute;
    // left: 0;
    // top: calc(var(--space-12) + var(--space-32)); //trのパディング + 32px

    @include mq {
      position: static;
      flex: 0 0 100px !important;
      // flex-grow: 0 !important;
    }
  }

  &__col-action {
    @include mq {
      flex-grow: 0 !important;
      flex-basis: 120px !important;
      row-gap: var(--space-8) !important;

      &.--wide {
        flex-basis: 200px !important;
      }
    }
  }

  &__rent {
    font-weight: var(--fw-semibold);

    .__figure {
      font-size: var(--fz-16);
    }
  }

  &__shiki,
  &__rei {
    display: inline-flex;
    align-items: center;
    &::before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: var(--space-4);
      vertical-align: middle;
      background: var(--bg-primary-xlight) no-repeat center center;
    }
  }
  &__shiki::before {
    background-image: var(--icon-shiki);
  }
  &__rei::before {
    background-image: var(--icon-rei);
  }

  // すべてのお部屋を表示
  &__toggle {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__toggle-btn {
    font-size: var(--fz-16);
    font-weight: var(--fw-bold);
    margin-top: var(--space-16);
    display: flex;
    align-items: center;

    &::after {
      content: "";
      --icon-size: var(--fz-24);
      mask: var(--icon-plus-circle) no-repeat center center / contain;
      width: var(--icon-size);
      height: var(--icon-size);
      margin-left: var(--space-8);
      background-color: var(--bg-black);
    }

    &.--is-open {
      &::after {
        mask-image: var(--icon-minus);
      }
    }

    &.--is-hide {
      display: none;
    }

    @include mq {
      cursor: pointer;
      margin-top: var(--space-24);
    }
  }
}
