// 検索画面共通
@use "../abstracts/mixins" as *;

.c-search {
  display: flex;
  flex-direction: column;

  padding: var(--space-16);
  background-color: var(--bg-white);
  box-shadow: var(--shadow-md);

  @include mq {
    padding: var(--space-24);
  }

  // 検索コントロール
  &__list {
    display: flex;
    flex-wrap: wrap;
    --list-gap: var(--space-10);
    gap: var(--list-gap);

    @include mq {
      --list-gap: var(--space-16);
      flex-wrap: nowrap;
    }
  }

  &__list-item {
    flex: 1 0 calc((100% - var(--list-gap)) / 2);

    .__link {
      width: 100%;
      height: 100%;
    }

    @include mq {
      flex: 1;
    }
  }

  // キーワード検索レイアウト
  &__keyword {
    margin-top: var(--space-16);

    @include mq {
      margin-top: var(--space-24);
    }
  }
}

// キーワード検索
.c-search-keyword {
  @include mq {
    background: var(--bg-gray-xxlight);
  }

  display: flex;
  flex-direction: column;

  @include mq {
    padding: var(--space-24) var(--space-32);
    flex-direction: row;
    align-items: center;
  }

  dt {
    font-weight: var(--fw-bold);
    letter-spacing: var(--letter-space-10);
    margin-bottom: var(--space-8);
  }

  dd {
    flex: 1;
  }

  @include mq {
    dt {
      font-size: var(--fz-18);
      flex: 0 0 30%;
    }
  }
}

// 検索セクション
.c-search-sect {
  &__header {
  }

  &__h {
    font-size: var(--fz-16);
    letter-spacing: var(--letter-space-10);

    @include mq {
      font-size: var(--fz-20);
    }
  }

  &__body {
    margin-top: var(--space-16);

    @include mq {
      margin-top: var(--space-32);
    }
  }
} // .c-search-sect

.c-search-subsect {
  &:not(:first-child) {
    margin-top: var(--space-24);
  }

  &__h {
    font-size: var(--fz-16);
    line-height: var(--line-height-md);
    margin-bottom: var(--space-8);
  }
}

// 検索（エリア）
.c-search-areas {
  display: flex;
  flex-wrap: wrap;
  --list-gap: var(--space-4);
  gap: var(--list-gap);

  @include mq {
    --list-gap: var(--space-16);
  }

  &__item {
    flex: 1 0 100%;

    @include mq {
      flex: 0 0 calc((100% - var(--list-gap) * 3) / 4);
    }
  }

  &__label {
    width: 100%;
    height: 100%;
  }
}

// 検索（区）
.c-search-ward {
  display: flex;
  flex-direction: column;
  gap: var(--space-48);

  @include mq {
    flex-direction: row-reverse;
  }

  &__map {
    flex: 1 1 47%;
  }

  &__select {
    flex: 1 1 53%;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    gap: var(--space-8);
  }
  &__item {
    flex: 0 0 calc((100% - var(--space-8)) / 2);
    @include mq {
      flex: 0 0 calc((100% - var(--space-8) * 2) / 3);
    }
  }
}

// 区マップ
.c-ward-map {
  width: 100%;

  &__item {
    cursor: pointer;

    .__boundary,
    .__text-group > * {
      transition: fill var(--animation-normal);
    }

    .__boundary {
      fill: var(--bg-gray-xxlight);
    }

    &:hover,
    &.--is-active {
      .__boundary {
        fill: var(--bg-gray-xdark);
      }
      .__text-group > * {
        fill: var(--txt-white);
      }
    }
    &.--is-active {
      .__boundary {
        fill: var(--bg-black);
      }
    }
  }

  &__border {
    border: 1px solid var(--border-normal);
  }
}

// 絞り込み検索
.c-search-filter {
  border-bottom: 1px solid var(--bdr-light);

  &__block {
    display: flex;
    flex-direction: column;
    padding-top: var(--space-16);
    padding-bottom: var(--space-16);
    border-top: 1px solid var(--bdr-light);

    @include mq {
      padding-top: var(--space-24);
      padding-bottom: var(--space-24);
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__title {
    @include mq {
      flex: 0 0 17%;
    }
  }
  &__desc {
    @include mq {
      flex: 0 0 80%;
    }
  }

  &__title {
    font-weight: var(--fw-bold);
    font-size: var(--fz-14);

    @include mq {
      font-size: var(--fz-16);
    }
  }

  &__desc {
    margin-top: var(--space-8);

    > * {
      &:not(:first-child) {
        margin-top: var(--space-16);
      }
    }

    @include mq {
      margin-top: 0;

      > * {
        &:not(:first-child) {
          margin-top: var(--space-24);
        }
      }
    }
  }

  &__deep {
    display: flex;
    flex-direction: column;
    --gap: var(--space-8);
    gap: var(--gap);

    .__text {
      font-size: var(--fz-14);
    }

    @include mq {
      flex-direction: row;
      align-items: center;
      gap: var(--space-24);

      .__text {
        flex: 1;
      }

      .__btn {
        flex: 0 0 20%;
      }
    }
  }
} //filter

// フォームのリスト系
.c-form-list {
  display: flex;
  // flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;

  //デフォルトギャップ
  --list-gap: var(--space-10);
  gap: var(--list-gap);

  @include mq {
    //デフォルトギャップ
    --list-gap: var(--space-24);
  }

  // カラム幅を意識したレイアウト用
  // ギャップ
  --col-gap-sp: var(--space-10);
  --row-gap-sp: var(--space-10);
  --col-gap-pc: var(--space-16);
  --row-gap-pc: var(--space-10);

  &[class*="--col-"] {
    column-gap: var(--col-gap-sp);
    row-gap: var(--row-gap-sp);
    @include mq {
      column-gap: var(--col-gap-pc);
      row-gap: var(--row-gap-pc);
    }
  }
  &[class*="--col-sp-"] {
    @include mq(sp) {
      column-gap: var(--col-gap-sp);
      row-gap: var(--row-gap-sp);
    }
  }
  &[class*="--col-pc-"] {
    @include mq {
      column-gap: var(--col-gap-pc);
      row-gap: var(--row-gap-pc);
    }
  }

  &__item {
    flex: 1 0 100%;
    line-height: 1;

    @include mq {
      flex: initial;
    }
  }

  &.--col-1 &__item {
    flex: 1 0 100%;

    @include mq {
      flex: 1 0 100%;
    }
  }

  &.--col-2 &__item {
    flex: 0 0 calc((100% - var(--col-gap-sp) * 1) / 2);

    @include mq {
      flex: 0 0 calc((100% - var(--col-gap-pc) * 1) / 2);
    }
  }
  &.--col-sp-2 &__item {
    @include mq(sp) {
      flex: 0 0 calc((100% - var(--col-gap-sp) * 1) / 2);
    }
  }
  &.--col-pc-2 &__item {
    @include mq {
      flex: 0 0 calc((100% - var(--col-gap-pc) * 1) / 2);
    }
  }
  &.--col-3 &__item {
    flex: 0 0 calc((100% - var(--col-gap-sp) * 2) / 3);

    @include mq {
      flex: 0 0 calc((100% - var(--col-gap-pc) * 2) / 3);
    }
  }
  &.--col-sp-3 &__item {
    @include mq(sp) {
      flex: 0 0 calc((100% - var(--col-gap-sp) * 2) / 3);
    }
  }
  &.--col-pc-3 &__item {
    @include mq {
      flex: 0 0 calc((100% - var(--col-gap-pc) * 2) / 3);
    }
  }
  &.--col-4 &__item {
    flex: 0 0 calc((100% - var(--col-gap-sp) * 3) / 4);

    @include mq {
      flex: 0 0 calc((100% - var(--col-gap-pc) * 3) / 4);
    }
  }
  &.--col-sp-4 &__item {
    @include mq(sp) {
      flex: 0 0 calc((100% - var(--col-gap-sp) * 3) / 4);
    }
  }
  &.--col-pc-4 &__item {
    @include mq {
      flex: 0 0 calc((100% - var(--col-gap-pc) * 3) / 4);
    }
  }
} //.c-form-list

// 結果（簡易表示）
.c-search-brief-result {
  background-color: var(--bg-gray-xxlight);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: var(--space-16);
  --gap: var(--space-4);
  gap: var(--gap);

  @include mq {
    --gap: var(--space-32);
    text-align: start;
    // padding: var(--space-24);
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  &__btn {
    @include mq {
      flex: 0 0 25%;
    }
  }

  &__title {
    font-weight: var(--fw-bold);
    letter-spacing: var(--letter-space-10);
  }

  &__count {
    .__count {
      font-family: var(--ff-num);
      letter-spacing: var(--letter-space-10);
      font-style: normal;
      font-weight: var(--fw-semibold);
      font-size: var(--fz-28);

      @include mq {
      }
    }
  }
}
