// ステップインジケーター
@use "../abstracts/mixins" as *;

.c-step-indicator {
  --content-width: 5rem;
  --content-gap: 4rem;
  --icon-base-size: var(--space-32);
  --icon-size: var(--space-24);
  --color-base: var(--bg-gray-light);
  --color-current: var(--bg-black);
  --color-completed: var(--bg-gray-dark);
  --color-txt-base: var(--txt-xlight);

  counter-reset: number 0;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: var(--content-gap);
  justify-content: center;

  //   ステップ数 - 数に応じて間隔を狭める
  &.--step-3 {
    --content-gap: 3rem;
  }

  &.--step-4 {
    --content-gap: 1rem;
  }

  &__item {
    counter-increment: number 1;
    flex: 0 0 auto;
    align-items: center;
    text-align: center;
    font-size: var(--fz-12);
    position: relative;

    // span
    > * {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: var(--content-width);
      position: relative;
      color: var(--color-txt-base);

      // ●
      &::before {
        content: "";
        font-size: var(--fz-16);
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        font-weight: semibold;
        width: var(--icon-base-size);
        height: var(--icon-base-size);
        background-color: var(--color-base);
        color: var(--txt-white);
        border-radius: var(--icon-base-size);
        margin-bottom: 0.5em;
        position: relative;
        z-index: 1;
      }

      // 数字
      &::after {
        content: counter(number);
        position: absolute;
        left: 50%;
        top: calc((var(--icon-base-size) - var(--icon-size)) / 2);
        translate: -50% 0;
        color: #fff;
        width: var(--icon-size);
        height: var(--icon-size);
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--fz-16);
        font-family: var(--ff-num);
      }
    }

    &.--is-completed {
      > * {
        color: var(--color-completed);

        &::before {
          background: var(--color-completed);
        }
        &::after {
          content: "";
          mask: var(--icon-check) no-repeat center center / contain;
          background-color: var(--bg-white);
        }
      }
    }

    &.--is-current {
      > * {
        color: var(--color-current);
        font-weight: var(--fw-semibold);

        &::before {
          background: var(--color-current);
        }
      }
    }

    & + &::after {
      --height: 4px;
      content: "";
      position: absolute;
      height: var(--height);
      background-color: var(--color-base);
      top: calc(var(--icon-base-size) / 2 - var(--height) / 2);
      --space: (var(--content-width) / 2 - var(--icon-base-size) / 2);
      width: calc(var(--space) * 2 + var(--content-gap) + 4px);
      // left:
      left: calc((var(--content-gap) + var(--space) + 2px) * -1);
    }

    &:not(:first-of-type).--is-current::after,
    &:not(:first-of-type).--is-completed::after {
      background-color: var(--color-completed);
    }
  }

  @media (min-width: 768px) {
    --content-width: 8rem;
    --content-gap: 6rem;

    &.--step-3 {
      --content-gap: 5rem;
    }

    &.--step-4 {
      --content-gap: 3rem;
    }

    &__item {
      font-size: var(--fz-14);
    }
  }
}
