// TOPページ検索
@use "../abstracts/mixins" as *;

.c-top-search {
  background-color: var(--bg-white);
  padding: var(--space-16);
  // box-shadow: var(--shadow-sm);

  @include mq {
    box-shadow: var(--shadow-md);
    padding: var(--space-32);
  }

  &__header {
    @include mq {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }
  }

  &__h {
    @include mq {
      font-size: var(--fz-24);
      letter-spacing: var(--letter-space-10);
    }
  }

  &__prop-status {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--space-4);

    @include mq {
      width: 76%;
      align-items: center;
      flex-direction: row;
      gap: var(--space-8);
    }
  }

  &__prop-status-list {
    display: flex;
    align-items: center;
    background: var(--bg-gray-xlight);
    line-height: var(--line-height-sm);
    padding: var(--space-16) var(--space-8);

    dt {
      font-weight: var(--fw-normal);
      font-size: var(--fz-12);

      b {
        font-weight: var(--fw-bold);
      }
    }

    dd {
      &:first-of-type {
        margin-left: auto;
      }
      &:not(:first-of-type) {
        margin-left: var(--space-8);
      }
    }

    .__fig {
      font-family: var(--ff-num);
      font-size: var(--fz-20);
      font-weight: var(--fw-semibold);

      a {
        position: relative;
        // text-decoration: underline 2px;
        // text-underline-offset: 4px;

        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 2px;
          left: 0;
          top: 101%;
          background-color: var(--bg-black);
        }
      }
    }
    .__unit {
      font-size: var(--fz-12);
      margin-left: var(--space-4);
    }

    @include mq {
      padding: var(--space-24) var(--space-16);
      flex: 0 0 calc((100% - var(--space-8)) / 2);

      dt {
        font-size: var(--fz-16);
      }

      .__fig {
        font-size: var(--fz-24);
      }
      .__unit {
        font-size: var(--fz-14);
      }
    }
  }

  &__body {
    --body-gap: var(--space-32);
    margin-top: var(--space-24);
    display: flex;
    flex-wrap: wrap;
    gap: var(--body-gap);

    @include mq {
      --body-gap: var(--space-24);
      margin-top: var(--space-32);
    }
  }

  &__basic,
  &__lists,
  &__keyword {
    flex-basis: 100%;
  }

  &__keyword {
    order: 2;
    // margin-top: var(--space-40);
  }

  &__lists {
    order: 3;
  }

  @include mq {
    &__basic {
      flex: 1 1 calc((100% - var(--body-gap)) / 7 * 4);
    }
    &__lists {
      flex: 1 1 calc((100% - var(--body-gap)) / 7 * 3);
      order: unset;
    }

    &__keyword {
      margin-top: 0;
      flex: 1 0 100%;
      order: unset;
    }
  }

  // 基本検索
  &__basic-list {
    display: flex;
    flex-wrap: wrap;
    --basic-gap: var(--space-10);
    gap: var(--basic-gap);

    @include mq {
      --basic-gap: var(--space-16);
      height: 100%;
    }

    .__item {
      // --min-height: 110px;
      flex: 1 0 calc((100% - var(--basic-gap) * 2) / 3);
      text-align: center;
      min-height: var(--min-height);

      a {
        height: 100%;
        min-height: var(--min-height);
      }

      @include mq {
        min-height: 0;
      }
    }
  }

  &__lists {
    display: flex;
    flex-direction: column;
    --lists-gap: var(--space-8);
    gap: var(--lists-gap);

    @include mq {
      --lists-gap: var(--space-16);
    }
  }

  // おすすめリスト
  &__pickup-list {
    display: flex;
    gap: var(--space-10);

    @include mq {
      gap: var(--space-16);
      flex: 1 1 35%;
    }

    .__item {
      flex: 1 1 0;

      > * {
        height: 100%;
        padding-top: var(--space-16);
        padding-bottom: var(--space-16);
      }
    }
  }

  // ユーザーアクション
  &__user-actions {
    display: flex;
    flex-wrap: wrap;
    --action-gap: var(--space-10);
    gap: var(--action-gap);

    @include mq {
      --action-gap: var(--space-16);
      flex: 1 1 65%;
    }

    .__item {
      flex: 1 1 calc((100% - var(--action-gap)) / 2);

      > * {
        height: 100%;
      }
    }
  }
}
