// DISPLAY
@use "../abstracts/mixins" as *;

.u-sp-only {
  // display値はその場のレイアウトを優先すること
  display: block;
  @include mq {
    display: none;
  }
}

.u-pc-only {
  // display値はその場のレイアウトを優先すること
  display: none;
  @include mq {
    display: block;
  }
}

.u-d {
  $values: block, inline, inline-block, none, flex, inline-flex;
  @each $val in $values {
    &-#{$val} {
      display: #{$val} !important;
    }
  }
  @include mq {
    @each $val in $values {
      &-pc-#{$val} {
        display: #{$val} !important;
      }
    }
  }
}

.u-visually-hidden {
  @include visually-hidden;
}
.u-visually-pc-hidden {
  @include mq {
    @include visually-hidden;
  }
}
