// DISPLAY
@use "../abstracts/mixins" as *;

.u-sp-only {
  // display値はその場のレイアウトを優先すること
  display: block;
  @include mq {
    display: none;
  }
}

.u-pc-only {
  // display値はその場のレイアウトを優先すること
  display: none;
  @include mq {
    display: block;
  }
}

.u-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
