// FONT & TEXT
@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

// font
.u-fw {
  // normal
  &-n {
    font-weight: normal !important;
  }

  &-sb {
    font-weight: 600 !important;
  }
}

.u-ff {
  &-en {
    font-family: sans-serif !important;
  }
}

// サイズ
.u-fz {
  $sizes: 10, 11, 12, 14, 16, 18, 20, 24, 28, 32, 36, 40, 48, 56;

  @each $size in $sizes {
    &-#{$size} {
      font-size: var(--fz-#{$size}) !important;
    }
  }

  @include mq {
    @each $size in $sizes {
      &-pc-#{$size} {
        font-size: var(--fz-#{$size}) !important;
      }
    }
  }
}

// Align
.u-ta {
  $orientation: start, end, center, justify;
  @each $orientation in $orientation {
    &-#{$orientation} {
      text-align: #{$orientation} !important;
    }
  }

  @include mq {
    @each $orientation in $orientation {
      &-pc-#{$orientation} {
        text-align: #{$orientation} !important;
      }
    }
  }
}

// Text
.u-tt {
  $transforms: uppercase, lowercase, capitalize;
  @each $transform in $transforms {
    &-#{$transform} {
      text-transform: #{$transform} !important;
    }
  }

  @include mq {
    @each $transform in $transforms {
      &-pc-#{$transform} {
        text-transform: #{$transform} !important;
      }
    }
  }
}

.u-td {
  $values: none, underline, line-through;
  @each $value in $values {
    &-#{$value} {
      text-decoration: #{$value} !important;
    }
  }

  @include mq {
    @each $value in $values {
      &-pc-#{$value} {
        text-decoration: #{$value} !important;
      }
    }
  }
}

// テキストオリエンテーション
.u-to {
  &-v {
    writing-mode: vertical-rl;
    text-orientation: upright;
  }

  @include mq {
    &-pc-v {
      writing-mode: vertical-rl;
      text-orientation: upright;
    }
  }
}
