@use "../abstracts/mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: var(--fz-md);
  font-family: var(--ff-base);
  font-weight: 400;
  line-height: 1.75;
}

a {
  text-decoration: none;
  color: var(--color-link);
  transition: all 0.3s;
  text-underline-offset: 0.25em;
}
button {
  transition: all 0.3s;
  border: none;
  background: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    padding: 0;
    margin: 0;
  }
}
