@use "../abstracts/mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: var(--fz-md);
  font-family: var(--ff-base);
  line-height: var(--line-height-base);
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--color-link);
  transition: all 0.3s;
  text-underline-offset: 0.25em;
}
button {
  transition: all 0.3s;
  border: none;
  background: none;
}

img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    padding: 0;
    margin: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fw-bold);
}
