// fonts
$ff: "Noto Sans JP", "Hiragino Sans", "Meiryo", "Hiragino Kaku Gothic ProN", sans-serif;
$ff-en-jp: "Roboto", "Noto Sans JP", "Hiragino Sans", "Meiryo", "Hiragino Kaku Gothic ProN", sans-serif;
$ff-en: "Roboto", sans-serif;

$fw-normal: 400;
$fw-bold: 600;
$fw-en-bold: 500;

$fz-10: 10px;
$fz-11: 11px;
$fz-12: 12px;
$fz-13: 13px;
$fz-14: 14px;
$fz-15: 15px;
$fz-16: 16px;
$fz-18: 18px;
$fz-20: 20px;
$fz-22: 22px;
$fz-24: 24px;
$fz-26: 26px;
$fz-28: 28px;
$fz-32: 32px;
$fz-40: 40px;
$fz-48: 48px;
$fz-56: 56px;
$fz-64: 64px;

// texts
$line-height-200: 2;
$line-height-180: 1.8;
$line-height-175: 1.75;
$line-height-160: 1.6;
$line-height-150: 1.5;
$line-height-140: 1.4;
$line-height-130: 1.3;
$line-height-120: 1.2;
$line-height-110: 1.1;
$line-height-100: 1;

// letter spacing
$letter-space-0: 0em;
$letter-space-10: 0.1em;
$letter-space-20: 0.2em;

// colors
$gray-white: rgba(255, 255, 255, 1);
$gray9: rgba(249, 249, 249, 1);
$gray8: rgba(244, 244, 244, 1);
$gray7: rgba(238, 238, 238, 1);
$gray6: rgba(227, 227, 227, 1);
$gray5: rgba(211, 211, 211, 1);
$gray4: rgba(195, 195, 195, 1);
$gray3: rgba(163, 163, 163, 1);
$gray2: rgba(136, 136, 136, 1);
$gray1: rgba(85, 85, 85, 1);
$gray0: rgba(51, 51, 51, 1);
$gray-black: rgba(0, 0, 0, 1);

$primary: rgba(242, 119, 5, 1);
$primary-xxlight: rgba(252, 247, 241, 1);
$primary-xlight: rgba(249, 237, 226, 1);
$primary-light: rgba(251, 235, 221, 1);
$primary-mid-light: rgba(252, 172, 97, 1);
$primary-mid: rgba(251, 149, 53, 1);

$alert: rgb(242, 76, 5);
$alert-trans: rgb(242 76 5 / 0.9);

// =======================================================
// NUMBERS
// Layout
$page-gutters-sp: 16px;
$page-gutters-pc: 32px;
$col-width: 5.92105%;
$col-gap: 2.631578%;
$l-container-max: 1280px;
$l-container-min: 1100px;

// Radius
$radius-xs: 2px;
$radius-sm: 2px;
$radius-md: 3px;
$radius-lg: 4px;
$radius-xl: 6px;
$radius-xxl: 8px;

// Spacing
$space-0: 0;
$space-4: 0.25rem;
$space-6: 0.375rem;
$space-8: 0.5rem;
$space-10: 0.625rem;
$space-12: 0.75rem;
$space-14: 0.875rem;
$space-16: 1rem;
$space-18: 1.125rem;
$space-20: 1.25rem;
$space-24: 1.5rem;
$space-28: 1.75rem;
$space-32: 2rem;
$space-40: 2.5rem;
$space-48: 3rem;
$space-56: 3.5rem;
$space-64: 4rem;
$space-72: 4.5rem;
$space-80: 5rem;
$space-88: 5.5rem;
$space-96: 6rem;
$space-104: 6.5rem;
$space-112: 7rem;
$space-120: 7.5rem;

// animation & transition
$animation-easing: cubic-bezier(0.59, 0, 0.22, 0.98);

// =======================================================
// =======================================================
// CSS vars
:root {
  // =======================================================
  // COLORS
  // background
  --bg-primary: #{$primary};
  --bg-primary-xxlight: #{$primary-xxlight};
  --bg-primary-xlight: #{$primary-xlight};
  --bg-primary-light: #{$primary-light};
  --bg-primary-mid: #{$primary-mid};
  --bg-gray-xxlight: #{$gray9};
  --bg-gray-xlight: #{$gray8};
  --bg-gray-light: #{$gray6};
  --bg-gray-normal: #{$gray5};
  --bg-gray-dark: #{$gray2};
  --bg-gray-xdark: #{$gray1};
  --bg-gray-xxdark: #{$gray0};
  --bg-white: #{$gray-white};
  --bg-black: #{$gray-black};
  --bg-black-90: rgba(0 0 0 / 0.9);

  // border
  --bdr-xlight: #{$gray8};
  --bdr-light: #{$gray6};
  --bdr-normal: #{$gray5};
  --bdr-dark: #{$gray2};
  --bdr-xdark: #{$gray1};
  --bdr-xxdark: #{$gray0};
  --bdr-black: #{$gray-black};
  --bdr-primary: #{$primary};
  --bdr-primary-mid: #{$primary-mid-light};
  --bdr-primary-light: #{$primary-mid-light};

  --bdr-btn-gray: #{$gray4};
  --bdr-btn-gray--hover: #{$gray-black};
  --bdr-btn-gray-light: #{$gray5};
  --bdr-btn-gray-light: #{$gray5};
  --bdr-btn-gray-dark: #{$gray3};

  --bdr-form: #{$gray5};
  --bdr-form--hover: #{$gray3};

  // text
  --txt-xlight: #{$gray4};
  --txt-light: #{$gray2};
  --txt-dark: #{$gray1};
  --txt-white: #{$gray-white};
  --txt-normal: #{$gray-black};
  --txt-primary: #{$primary};
  --txt-primary-mid: #{$primary-mid};

  // alert
  --alert: #{$alert};
  --alert-trans: #{$alert-trans};

  // theme

  // =======================================================
  // FONTS & TEXTS
  --ff-base: #{$ff};
  --ff-en-jp: #{$ff-en-jp};
  --ff-num: #{$ff-en};
  --fz-10: #{$fz-10};
  --fz-11: #{$fz-11};
  --fz-12: #{$fz-12};
  --fz-14: #{$fz-14};
  --fz-16: #{$fz-16};
  --fz-18: #{$fz-18};
  --fz-20: #{$fz-20};
  --fz-24: #{$fz-24};
  --fz-32: #{$fz-32};

  --fw-normal: #{$fw-normal};
  --fw-bold: #{$fw-bold};
  --fw-en-bold: #{$fw-en-bold};

  --line-height-200: #{$line-height-200};
  --line-height-lg: #{$line-height-180};
  --line-height-base: #{$line-height-175};
  --line-height-md: #{$line-height-150};
  --line-height-sm: #{$line-height-120};
  --line-height-100: #{$line-height-100};

  --letter-space-0: #{$letter-space-0};
  --letter-space-10: #{$letter-space-10};
  --letter-space-20: #{$letter-space-20};

  // =======================================================
  // LAYOUTS
  --page-gutter-sp-x: #{$page-gutters-sp};
  --page-gutter-pc-x: #{$page-gutters-pc};
  --col-width: #{$col-width};
  --col-gap: #{$col-gap};
  --l-container-max: #{$l-container-max};
  --l-container-min: #{$l-container-min};

  // グローバルナビゲーション幅
  --gnav-sp-width: calc(100% - var(--space-64));

  // =======================================================
  // OTHERS
  --bdr-radius-xs: #{$radius-xs};
  --bdr-radius-sm: #{$radius-sm};
  --bdr-radius-md: #{$radius-md};
  --bdr-radius-lg: #{$radius-lg};
  --bdr-radius-xl: #{$radius-xl};
  --bdr-radius-xxl: #{$radius-xxl};

  --animation-fast: 0.2s;
  --animation-normal: 0.3s;
  --animation-slow: 0.5s;

  // Spacing
  --space-0: #{$space-0};
  --space-4: #{$space-4};
  --space-6: #{$space-6};
  --space-8: #{$space-8};
  --space-10: #{$space-10};
  --space-12: #{$space-12};
  --space-14: #{$space-14};
  --space-16: #{$space-16};
  --space-18: #{$space-18};
  --space-20: #{$space-20};
  --space-24: #{$space-24};
  --space-28: #{$space-28};
  --space-32: #{$space-32};
  --space-40: #{$space-40};
  --space-48: #{$space-48};
  --space-56: #{$space-56};
  --space-64: #{$space-64};
  --space-72: #{$space-72};
  --space-80: #{$space-80};

  // Animation & Transition
  --animation-easing: #{$animation-easing};
}
