@use "../abstracts/mixins" as *;

.site-header {
  position: fixed;
  width: 100%;
  background-color: var(--bg-black);
  height: 70px;
  z-index: 100;
  color: var(--txt-white);
  top: 0;

  @include mq {
    height: 80px;
    position: relative;
  }

  &__container {
    display: flex;
    padding: 0 var(--space-16);
    justify-content: space-between;
    align-items: center;

    @include mq {
      padding: 0 var(--space-32);
      min-width: var(--l-container-min);
      height: 100%;
    }
  }

  &__subnav {
    @include mq {
      display: flex;
      align-items: center;
    }
  }
}
