@use "../abstracts/mixins" as *;

.header {
  position: fixed;
  width: 100%;
  // background-color: var(--bg-black);
  background-color: var(--bg-black-80);
  height: 70px;
  color: var(--txt-white);
  top: 0;
  z-index: var(--z-index-lv2);
  display: flex;
  align-items: center;

  @include mq {
    height: 80px;
    position: relative;
    // background-color: var(--bg-black);
    z-index: var(--z-index-lv5);
  }

  &__container {
    display: flex;
    padding: 0 var(--space-16);
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @include mq {
      padding: 0 var(--space-32);
      min-width: var(--l-container-min);
      height: 100%;
    }
  }

  &__subnav {
    @include mq {
      display: flex;
      align-items: center;
    }
  }

  &__logo {
    width: 60px;
    padding: var(--space-8) 0;

    @include mq {
      width: 90px;
      padding: 0;
    }
  }

  &__logo-group {
    img {
      max-width: 130px;
    }
  }
}
