// 検索結果ページ
@use "../abstracts/mixins" as *;

.l-result {
  // &__summary {}

  &__body {
    @include mq {
      margin-top: var(--space-24);
    }
  }

  &__pagination {
    margin-top: var(--space-40);

    @include mq {
      margin-top: var(--space-64);
    }
  }

  // 結果下のコンタクトについて
  &__contact {
    margin-top: var(--space-40);

    @include mq {
      margin-top: var(--space-64);
    }
  }
}
